:root {
  --primary-color: #223c5f;
  --green-color: #2a9dbf;
  --orange: #fd8c3e;
  --light-orange: #fa9e64;
  --light: #e8e5e0;
  --brown: #bab1a0;
}

.homepage {
  background-image: url("../../../public/background.jpg");
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  text-align: right;
  position: relative;
}

.home-content-box {
  margin-top: 110px;
  margin-left: 230px;
}

.home-content-box h1 {
  font-size: 60px;
  font-weight: 900;
  color: var(--light);
  margin-bottom: 24px;
}

.home-content-box .home-description {
  font-size: 21px;
  color: var(--light);
  margin-bottom: 10px;
}
.home-content-box .home-description2 {
  font-size: 21px;
  color: var(--brown);
  font-weight: 900;
}

.home-btn-container {
  margin-top: 30px;
  margin-left: 300px;
  display: flex;
  gap: 12px;
}

.home-btn {
  padding: 10px 25px;
  font-size: 19px;
  font-weight: 900;
  border-radius: 5px;
}

.btn1 {
  background-color: var(--green-color);
}

.btn2 {
  background-color: var(--light-orange);
}

@media screen and (max-width: 1472px) {
  .home-content-box {
    margin-left: 160px;
  }

  .home-btn-container {
    margin-left: 200px;
  }
}

@media screen and (max-width: 1268px) {
  .home-content-box {
    margin-left: 60px;
  }

  .home-btn-container {
    margin-left: 80px;
  }
}

@media screen and (max-width: 934px) {
  .home-content-box h1 {
    font-size: 40px;
  }

  .home-content-box .home-description {
    font-size: 18px;
  }
  .home-content-box .home-description2 {
    font-size: 18px;
  }
}

@media screen and (max-width: 634px) {
  .homepage {
    background-size: cover;
    background-position: right;
    color: #fff;

    background-blend-mode: color;
    background-color: rgba(0, 0, 0, 0.7);
  }

  .home-content-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  .home-btn-container {
    margin: auto;
    margin-top: -100px;
  }
}

@media screen and (max-width: 558px) {
  .homepage {
    padding: 0 15px;
  }

  .home-content-box h1 {
    font-size: 35px;
  }

  .home-content-box .home-description {
    font-size: 16px;
  }
  .home-content-box .home-description2 {
    font-size: 16px;
  }
}

@media screen and (max-width: 444px) {
  .home-content-box h1 {
    font-size: 24px;
  }

  .home-content-box .home-description {
    font-size: 14px;
  }
  .home-content-box .home-description2 {
    font-size: 14px;
  }
}

@media screen and (max-width: 382px) {
  .home-content-box h1 {
    font-size: 22px;
  }

  .home-content-box .home-description {
    font-size: 12px;
  }
  .home-content-box .home-description2 {
    font-size: 12px;
  }
}
