@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "yekan";
  src: url("../assets/yekan.ttf");
}

@font-face {
  font-family: "yekan-bold";
  src: url("../assets/yekan-bold.ttf");
}

* {
  margin: 0;
  padding: 0;
  font-family: "yekan";
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --primary-color: #223c5f;
  --green-color: #2a9dbf;
  --orange: #fd8c3e;
  --light-orange: #fa9e64;
  --light: #e8e5e0;
  --brown: #bab1a0;
}
