:root {
  --primary-color: #223c5f;
  --green-color: #2a9dbf;
  --orange: #fd8c3e;
  --light-orange: #fa9e64;
  --light: #e8e5e0;
  --brown: #bab1a0;
}

.foodstory-container {
  padding: 100px 10%;
  background-color: var(--light);
  .page-title {
    h2 {
      font-size: 32px;
      color: var(--primary-color);
      font-weight: 900;
    }

    p {
      font-size: 18px;
      color: var();
      margin-bottom: 20px;
      color: var(--primary-color);
    }
  }

  .slider-container {
    cursor: pointer;
    .mySwiper {
      padding-top: 30px;
      padding-bottom: 60px;

      .slide {
        width: 100%;
        border-bottom: 4px solid var(--orange);
        border-right: 1px solid var(--orange);
        position: relative;
        border-radius: 18px;

        .profile {
          position: absolute;
          z-index: 1000;
          right: 20px;
          top: 20px;

          .profile-image {
            width: 70px;
            border-radius: 50%;
            border: 4px solid transparent;
            background: linear-gradient(orange, red) padding-box,
              linear-gradient(to right, orange, red) border-box;
            box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7);
            transition: all ease-in-out 0.2s;
            &:hover {
              background: linear-gradient(red, orange) padding-box,
                linear-gradient(to right, rgb(255, 71, 71), orange) border-box;
            }
          }

          .live {
            position: absolute;
            bottom: -7px;
            right: 15px;
            background-color: red;
            font-size: 11px;
            padding: 1px 6px;
            color: #fff;
            font-weight: 900;
            font-family: "Poppins";
            letter-spacing: 1px;
            border-radius: 8px;
          }
          .liveOff {
            display: none;
          }
        }

        .imgContainer {
          background-color: black;
          border-radius: 18px;
          .slide-image {
            opacity: 0.5;
            border-radius: 18px;
          }
        }
      }
      .slide-content {
        position: absolute;
        bottom: 26px;
        right: 12px;
        padding: 0 15px;

        .slide-title {
          font-size: 22px;
          font-weight: 900;
          color: #fff;
          border-bottom: 1px solid var(--orange);
          width: fit-content;
          margin-bottom: 10px;
          padding: 5px 0;
        }
        .slide-desc {
          color: #fff;
          font-size: 13px;
          text-align: justify;
          margin-bottom: 12px;
        }
        .slide-details {
          display: flex;
          flex-wrap: wrap;
          gap: 10px;
          .restaurant {
            background-color: var(--primary-color);
            color: #fff;
            padding: 4px 8px;
            border-radius: 20px;
          }
          .price {
            background-color: var(--green-color);
            color: #fff;
            padding: 4px 8px;
            border-radius: 20px;
          }
        }
      }
    }
  }
}
