:root {
  --primary-color: #223c5f;
  --green-color: #2a9dbf;
  --orange: #fd8c3e;
  --light-orange: #fa9e64;
  --light: #e8e5e0;
  --brown: #bab1a0;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

  .navUl {
    display: flex;
    // background-color: var(--primary-color);
    gap: 30px;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: #f8f8f8;
    font-weight: 500;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
    font-weight: 900;
  }

  .navItem {
    padding: 8px 12px;
    transition: all ease-in-out 0.15s;
    font-size: 12px;
    &:hover {
      color: var(--light-orange);
    }
    .navLink {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      p {
        text-align: center;
      }
    }
    .navLinkIcon {
      font-size: 31px;
      margin-bottom: 5px;
      text-align: center;
    }
  }
}
